@mixin clearfix()
{
    *zoom: 1;
    &:before,
    &:after
    {
        display: table;
<<<<<<< HEAD
=======

>>>>>>> 78695da (add new contents)
        content: ' ';
    }
    &:after
    {
        clear: both;
    }
}

@mixin row()
<<<<<<< HEAD
{    
    @include clearfix(); 
    margin: 0 auto;
    max-width: 92.308em;
}


=======
{
    max-width: 92.308em;
    margin: 0 auto;

    @include clearfix();
}
>>>>>>> 78695da (add new contents)
