@mixin clearfix()
{
    *zoom: 1;
    &:before,
    &:after
    {
        display: table;

        content: ' ';
    }
    &:after
    {
        clear: both;
    }
}

@mixin row()
{
    max-width: 92.308em;
    margin: 0 auto;

    @include clearfix();
}
