.nav{
		
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__item{
		padding: .5em;
	}

	&__logo{        
		background-color: #fff;
    	border-radius: .5em;
    	height: 60px;
    	padding: .4em;
    	margin-left: 1.5em;

    	img{
    		height: 50px;
    	}
	}

}