.nav{
		
    display: flex;  
    justify-content: space-between;
    align-items: center;

    &__item{
		padding: .5em;
	}

	&__logo{        
        background-color: #fff;
        border-radius: .5em;
        height: 60px;
        padding: .4em;
        margin: .5em 0 .5em 1.5em;


    	img{
    		height: 50px;
    	}
	}

    &__brand a{
        color: #fff;
        font-size: 2rem;

        &:hover{
            color: #fff;
            text-decoration: none;
        }
    }

}