{%- set lazyImage =
"data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%20height%3D'500'%20width%3D'960'%20style%3D'background-color%3Argb(203%2C213%2C224)'%2F%3E"
-%}

{% for post in paged.posts %}
<div class="w-full sm:w-1/2 md:w-1/3 self-stretch p-2 mb-2 post-card group">
  <div
    class="rounded-lg shadow-md h-full bg-white dark:bg-gray-900 dark:border dark:border-slate-700"
  >
    <a
      href="{{ post.url | url }}"
      class="bg-center bg-cover block group h-fit overflow-clip rounded-t-lg w-fit aspect-[1.75]"
    >
      <img
        class="w-full m-0 rounded-t-lg lazy card-thumbnail duration-300 group-hover:scale-110 h-[inherit] max-h-[inherit] object-center rounded-[inherit] transition-all"
        src="{{ lazyImage }}"
        data-src="{% if post.data.thumb %}{{
          post.data.thumb | url
        }}{% else %}{{ '/assets/img/no-image.svg' | url }}{% endif %}"
        width="960"
        height="500"
        alt="{{ post.data.title }}"
      />
    </a>
    <div class="px-6 py-5 space-y-4">
      <div class="font-semibold text-xl">
        <a
          class="text-slate-900 dark:text-slate-200 font-serif hover:text-teal-700 dark:hover:text-teal-600"
          href="{{ post.url | url }}"
          >{{ post.data.title }}</a
        >
      </div>
      <p class="text-sm text-slate-400" title="Published date">
        {{ post.data.page.date | readableDate }}
      </p>
      <p class="text-sm text-slate-800 dark:text-slate-300">
        {% if post.data.description %}
        {{ post.data.description }}
        {% else %}
        {{ post.templateContent | striptags | truncate(90, true) }}
        {% endif %}
      </p>
    </div>
  </div>
</div>
{% endfor %}
